*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#050816;
color:#fff;
overflow-x:hidden;
}

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:rgba(10,10,20,.75);
backdrop-filter:blur(20px);
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
background:linear-gradient(90deg,#00f5ff,#00ff99);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.navbar ul{
display:flex;
list-style:none;
gap:30px;
}

.navbar a{
color:white;
text-decoration:none;
font-size:17px;
transition:.3s;
}

.navbar a:hover{
color:#00f5ff;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:120px 10%;
}

.hero-content{
width:55%;
}

.hero-content h3{
font-size:24px;
margin-bottom:15px;
color:#00f5ff;
}

.hero-content h1{
font-size:70px;
margin-bottom:15px;
}

.gradient{
background:linear-gradient(90deg,#00f5ff,#00ff99);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero-content h2{
height:45px;
font-size:30px;
color:#00ff99;
margin-bottom:20px;
}

.hero-content p{
font-size:18px;
line-height:1.8;
color:#cfcfcf;
margin-bottom:35px;
}

.buttons{
display:flex;
gap:20px;
}

.btn{
padding:15px 35px;
background:#00f5ff;
color:#000;
font-weight:bold;
text-decoration:none;
border-radius:10px;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 20px cyan;
}

.btn-outline{
padding:15px 35px;
border:2px solid #00f5ff;
text-decoration:none;
color:white;
border-radius:10px;
transition:.3s;
}

.btn-outline:hover{
background:#00f5ff;
color:black;
}

.hero-image{
display:flex;
justify-content:center;
align-items:center;
width:40%;
}

.circle{
width:320px;
height:320px;
border-radius:50%;
background:linear-gradient(135deg,#00f5ff,#00ff99);
display:flex;
justify-content:center;
align-items:center;
font-size:120px;
animation:float 4s ease-in-out infinite;
box-shadow:0 0 50px cyan;
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0px);
}

}

section{
padding:120px 10%;
}

.hidden{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.show{
opacity:1;
transform:translateY(0px);
}

#topButton{
background:#00f5ff;
color:black;
font-weight:bold;
box-shadow:0 0 20px cyan;
}

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-content{
width:100%;
}

.hero-image{
width:100%;
margin-top:60px;
}

.hero-content h1{
font-size:48px;
}

.hero-content h2{
font-size:24px;
}

.navbar{
flex-direction:column;
gap:15px;
}

.navbar ul{
gap:15px;
flex-wrap:wrap;
justify-content:center;
}

.circle{
width:220px;
height:220px;
font-size:80px;
}

}
